/* Navbar */
.bg-gradient-primary {
    background: #d10e0e;
}

#sidebarToggleTop {
    width: inherit !important;
    color: #d10e0e;
    text-decoration: none !important;
}

.sidebar .nav-item:hover .nav-link, .sidebar .nav-item:hover .nav-link:after  {
    color: white !important;
}

/* Content */
.card-header .text-primary {
    color: #d10e0e !important;
}

.card-nopadding {
    padding: 1rem;
    padding-left: 0rem;
}

.myAreaChart {
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    color: #d10e0e;
}

a:hover {
    color: #a00e0e;
    text-decoration: none;
}

.border-left-primary {
    border-left: .25rem solid #d10e0e !important;
}

.text-primary {
    color: #d10e0e !important;
}

.welcome {
    text-align: center;
    padding: 1rem;
}

.welcome h2 {
    text-align: center !important; 
    font-style: italic;
}

.welcome h1 {
    text-align: center !important; 
    font-weight: 700;
    color: #d10e0e;
}

.btn-primary {
    background: #d10e0e;
    border: none;
}

.btn-primary:hover {
    background: #8a0a0a;
    border: none;    
}

.btn-space {
    margin: 1.2rem !important;
}

.btns {
    text-align: center;
}

.btns .btn {
    padding: 0.8rem;
}

.faq-body .card-header {
    font-size: 120%;
    font-weight: 700;
    color: #d10e0e;
}

.faq-body .card {
    margin-bottom: 1rem;
}